:root {
    --sidebar-bg: rgba(255, 255, 255, 0.05);
    --layout-bg: #170f23;
    --layout-header-bg: rgba(23, 15, 35, 0.8);
    --player-bg: #130c1c;
    --sidebar-popup-bg: #2a213a;
    --primary-bg: #34224f;
    --gradient-latest-section-artist: linear-gradient(
        286.07deg,
        rgba(23, 15, 35, 0.95) 55.21%,
        rgba(23, 15, 35, 0.6)
    );
    --alpha-layout-bg: rgba(41, 21, 71, 0.8);
    --queue-player-popup-bg: #120822;
    --blur-queue-bg: rgba(30, 21, 47, 0.9019607843137255);
    --purple-primary: #9b4de0;
    --chart-bg-img-alpha: rgba(32, 19, 53, 0.9);

    --text-primary: #fff;
    --link-text-hover: #c273ed;
    --text-placeholder: #dadada;
    --navigation-text: #dadada;
    --sticky-header-box-shadow: rgba(0, 0, 0, 0.1);
    --portal-menu-box-shadow: rgba(0, 0, 0, 0.2);

    --contrast-bg: rgba(254, 255, 255, 0.4);
    --contrast-bg-1: #feffff;
    --contrast-color: rgba(20, 20, 20, 0.8);
    --banner-home-dot: #d8d8d8;
    --loading-bg: hsla(0, 0%, 100%, 0.1);

    --img-banner-artist: url(https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.9.5/static/media/bg-dark-artist.291cc2d3.png);
    --image-queue-loader: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/bg-empty-dark.svg);
    --image-queue-video: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/dark-queue-playing-video.svg);
    --playing-mix-icon: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/icons/icon-playing.gif);
    --img-logo-mp3: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg);
    --empty-podcast-icon: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/icons/record-dark.svg);
    --empty-episode-icon: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/icons/episode-empty-1.png);
    --empty-song-icon: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/icons/empty-fav-song-dark.png);
    --empty-mv-icon: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/icons/empty-mv-dark.png);
    --empty-album-icon: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/icons/empty-album-dark.png);
    --empty-upload-icon: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/icons/empty-upload-dark.png);
    --box-shadow-queue: 0 1px 0 rgba(0, 0, 0, 0.3), 0 1px 6px rgba(0, 0, 0, 0.3),
        inset 0 1px 1px rgba(25, 255, 255, 0.05);
    --chart-bg-img-alpha: rgba(30, 30, 30, 0.9);
    --chart-box-bg-alpha: hsla(0, 0%, 100%, 0.05);
    --chart-logo-color: #fff;
    --chart-icon-play-color: var(--purple-primary);

    --background-tooltip: #e8e8e8;
    --white: #fff;
    --black: #32323d;
    --yellow: #f8e71c;
    --blue: #4a90e2;
    --green: #50e3c2;
    --red: #e35050;
    --gray: #dbdbdb;
    --dark-alpha-10: rgba(0, 0, 0, 0.1);
    --dark-alpha-50: rgba(0, 0, 0, 0.5);
    --dark-alpha-70: rgba(0, 0, 0, 0.7);
    --dark-alpha-80: rgba(0, 0, 0, 0.8);

    --white-alpha-5: rgba(255, 255, 255, 0.05); /* --alpha-bg: #ffffff1a;    */
    --white-alpha-10: rgba(255, 255, 255, 0.1); /* --alpha-bg: #ffffff1a;    */
    --white-alpha-15: rgba(255, 255, 255, 0.15); /* --alpha-bg: #ffffff1a;    */
    --white-alpha-50: rgba(255, 255, 255, 0.5); /* --text-secondary #ffffff80*/
    --white-alpha-70: rgba(255, 255, 255, 0.7);
    --white-alpha-80: rgba(255, 255, 255, 0.8);
    --hover-tooltip-opacity: hsla(0, 0%, 100%, 0.3);
    --sidebar-drop-shadow-text: 0 0 2px rgba(255, 255, 255, 0.3);

    --progressbar-active-bg: #fff;
    --progressbar-player-bg: #ffffff4d;

    --icon-setting: #d8d8d8;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
}

input[type='text'] {
    border: none;
    background: transparent;
    color: var(--text-primary);
    outline: none;
}
